*{
    padding: 0;
    margin: 0;
}
.blogtxtsection{
    font-size:32px ;
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
    color: whitesmoke;
    margin-top: -3rem;
}
.blogtest{
    font-size:31px ;
    font-family: sans-serif;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    line-height: 33px;
    cursor: pointer;
    
}
.blog{
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    margin-right:15px ;
    margin-left:15px;
}
.blogpic{
    width: 26rem;
    height: 15rem;
    
}
.blogpic img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: .9375rem;
}

.Blog-section1{
    background:url(../pics/testimonial-bg-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0rem;
    margin-top: 12rem;
}
@media(max-width:550px){
    .blogpic{
        width: 18.125rem;
        height: auto;
    }
    .blogpic img{
        width: 100%;
        height: 13.5rem;
        border-radius: 5px;
        margin-bottom: .9375rem;
    }
    .blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.9375rem;
        margin: 0;
        margin-top: 4rem;
    }
    .blogtest{
        font-size:24px ;
        font-family: sans-serif;
        font-weight: 400;
        transition: all 0.3s ease 0s;
        line-height: 31px;
        cursor: pointer;
        
    }
}