* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1;
}

a {
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 1.95rem;
}

.nav-img {
    display: block;
  ;
}

.imgnav {
    width: 7.25rem;
}

.hamburger span {
    display: none;
}

.overrelaly {
    display: none;
}

.loop {
    display: none;
}

@media(max-width:550px) {
    .open {
        width: 18.75rem;
    }
    

    .hamburger span {
        display: flex;
        flex-direction: column;
        background: white;
        width: 24px;
        height: 2px;
        margin-bottom: .25875rem;
    }

    .open .hamburger :nth-child(2) {
        display: none;
    }

    .open .hamburger :first-child {
        transform: rotate(45deg);
        transform-origin: 38%;
    }

    .open .hamburger :last-child {
        transform: rotate(-45deg);
        transform-origin: 27%;
    }

    .open .loop {
        position: fixed;
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        background:linear-gradient(rgb(4, 48, 75),white);
        inset: 0;
        width: 250px;
        row-gap: 21px;
        }

    .open .loop a {
        color:black;
        font-size: 1rem;
        font-weight: 300;
    margin-left: .825rem;
    }

    .imgnav {
        width: 4.25rem;
    }

    .nav-img {
        display: block;
    }

    .nav-txt {
        display: none;
    }

}