*{
    padding: 0;
    margin: 0;
}
.sectionhome-two{
    margin-top: 6rem;
}
.home-two-text{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.texthome-two{
    font-size: 28px;
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.simpletexthome-two{
    font-size: 1rem;
    color: rgb(128, 92, 92);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    text-align: justify;
    
}
.creativity{
    padding: 1.5rem 1.5rem;
    padding-top: 4rem;
    border-radius: 8px;
    width: fit-content;
    background: rgb(245, 240, 240);
    border: solid lightgray 0.5px;
}
.subdiv{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-top: 3.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.texthometwo{
    font-size: 22px;
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.simpletexthometwo{
    font-size: 1rem;
    color: rgb(128, 92, 92);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    text-align: justify;
    margin-left: .825rem;
    margin-right: .825rem;
    
}
.rotate{
    
    background: orangered;
    border-radius: .625rem;
}

.creativity:hover{
    rotate: 10deg;
    transition: 1s;
}
@media(max-width:550px){
    .home-two-text{
        margin: 7px;
        margin-bottom: auto;
        margin-right: auto;
        
        
    }
    .subdiv{
       display: flex;
       flex-direction: column;
        row-gap: 1.5625rem;
        width: 20.75rem;
        margin-bottom: auto;
        margin-right: auto;
    }
    .creativity{
        padding: 1.5rem 0.5rem ;
        padding-top: 4rem;
        border-radius: 8px;
        width: fit-content;
        text-align: justify;
    
    }
    .simpletexthometwo{
        text-align: center;
        width: fit-content;
    }
}